<h1>Course#show</h1>
<p>Find me in app/views/course/show.html.erb</p>

<form name="sign_in_form" action="../user/sign_out" method="get" accept-charset="utf-8">
<div id="topnavigationbar" class="row" style="margin-left:1em">
  <div>
    <%= link_to "Home", home_show_path %>
    <%= link_to "Subjects", subject_show_path %>
    <%= link_to "Courses", course_show_path %>
    <%= link_to "Instructors", instructor_show_path %>
    <input type="submit" value="Sign Out" name="sign_out_button">
  </div>
</div>
</form>

<% Course.all.each do |course| %>
<div id="sidebar" class="col-xs-6">
  <%= course.code %><br>
</div>
<div id="sidebar" class="col-xs-6">
  <%= course.name %><br>
</div>
<% end %>
