<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>

<form name="sign_in_form" action="../user/sign_out" method="get" accept-charset="utf-8">
<div id="topnavigationbar" class="row">
  <div>
    <%= link_to "Home", home_show_path %>
    <%= link_to "Subjects", subject_show_path %>
    <%= link_to "Courses", course_show_path %>
    <%= link_to "Instructors", instructor_show_path %>
    <input type="submit" value="Sign Out" name="sign_out_button">
  </div>
</div>
</form>

<%= label_tag(:title, "User Profile")%>

<% if User.find_by(id: session[:user_id]) %>
  <% @user =  User.find_by(id: session[:user_id])%>
  <%= label_tag(:username, "Username: ")%>
  <%= @user.username %><br>
  <%= label_tag(:paaword, "Password: ")%>
  <%= @user.password %><br>
<% end %>
