<h1>Subject#show</h1>
<p>Find me in app/views/subject/show.html.erb</p>

<form name="sign_in_form" action="../user/sign_out" method="get" accept-charset="utf-8">
<div id="topnavigationbar" class="row">
  <div>
    <%= link_to "Home", user_sign_up_path %>
    <%= link_to "Subjects", subject_show_path %>
    <%= link_to "Courses", course_show_path %>
    <%= link_to "Instructors", instructor_show_path %>
    <input type="submit" value="Sign Out" name="sign_out_button">
  </div>
</div>
</form>

<% Subject.all.each do |subject| %>
  <%= subject.sid %><br>
  <%= subject.name %><br>
<% end %>
